html,
body {
    margin: 0;
}

.banner {
    background: #0b2c2d;
}

.banner_content {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    line-height: 1.4;
    font-family: "Poppins", sans-serif;
}

.banner_button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.banner_button:hover {
    background-color: #04545a;
    /* Darker shade of your banner button color on hover */
}

body {
    text-align: center;

    background-size: cover;
    color: rgb(10, 3, 3);
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* Adjust the margin as needed */
}

.contact-button {
    margin: 0 10px;
    /* Adjust the spacing between buttons as needed */
    color: #000000;
    /* Example color: white */
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 40px;
    /* Adjust the font size to make the icons bigger */
}

.contact-text1 {
    font-size: 45px;
}

@keyframes typing {
    from {
        width: 0;
    }
}

.live-text h1 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(30, end);
}