body {
    text-align: center;
    background-image: url("websitebackground.jpg");
    background-size: cover;
    color: white;
}

.huge-font {
    font-size: 72px;
    margin-top: 400px;
}

.banner {
    padding-top: 100px;
}

.button-container {
    margin-top: 50px;
}

