body {
    text-align: center;
    background-image: url("/Users/daisyabbott/Desktop/website/daisy-abbott.github.io/weback.jpg  ");
    background-size: cover;
    color: white;
}

h1 {
    font-size: 36px;
}

img {
    width: 200px;
    height: 200px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
